<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <h2>Интернет магазин</h2>

    <a href="home/Employees">Сотрудники</a>
</body>
</html>
